@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('background.jpg');
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#clock {
  position: relative;
  width: 600px;
  color: #fff;
  font-size: 5rem;
  padding: 20px 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
}

#clock::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, rgb(235, 57, 57), rgb(94, 68, 167));
  opacity: 0.75;
  z-index: -1; 
}

#time {
  font-weight: 700;
}

#date {
  font-weight: 700;
  font-size: 50px;
}

#time span {
  display: inline-block;
  width: 1.9ch;
  text-align: center;
}
